body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: pink;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    display: flex;
}

.profile-picture {
    flex: 1;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bio {
    flex: 2;
    padding: 30px;
}

.bio h1 {
    margin: 0;
    font-size: 24px;
}